In [ ]:
Q1

In [ ]:
1. For loop is used when number of iteration is known and while loop is used when number of iteration is unknown. 
Basically if we know number of times iteration has to inoccur to have the desired output "for" loop is used
otherwise "while" should be used. For example if we have a list of numbers we can find the multiplication
of all the numbers within the list.
While can be used where output is required to find even numbers between 150 to 200

In [3]:
l = [1,2,2,3,4,5,4,6,7,4,5,6]
l1 = 1
for i in l:
    l1 = l1 * i
l1

4838400

In [1]:
n = 150
result = 0

while n <= 200:
    result = n + 2
    print(result)
    n += 1

152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202

In [ ]:
Q2

In [ ]:
using for loop

In [1]:
s = 0
p = 1
for i in range(1,11):
    s += i
    p *= i
    
print(" The sum is: ",s)
print(" The product is: ",p)

 The sum is:  55
 The product is:  3628800

In [ ]:
using while loop

In [4]:
s = 0
p = 1
i = 1

while i <= 10:
    s += i
    p *= i
    i += 1
print("The sum is: ",s)
print("the product is: ",p)

The sum is:  55
the product is:  3628800

In [ ]:
Q3

In [5]:
total_units = int(input("Enter the total number of unit consumed"))
                  
unit_price = [4.5, 6, 10, 20]
unit_count = [100, 100, 100, float('inf')]
              
bill = 0
i = 0
              
while total_units > 0:
    if total_units >= unit_count[i]:
       bill += unit_count[i]*unit_price[i]
       total_units -= unit_count[i]
    
    else:
        bill += total_units * unit_price[i]
        total_units = 0
              
    i += 1
              
print("The total electricity bill is: ", bill)

Enter the total number of unit consumed 310

The total electricity bill is:  2250.0

In [ ]:
Q4

In [1]:
result_list = []

for i in range(1,101):
    cube = i**3
    if cube % 4 == 0 or cube % 5 ==0:
        result_list.append(i)
        
print('Using for loop:')
print('Number whose cubes are divisible by 4 or 5 are:', result_list)

Using for loop:
Number whose cubes are divisible by 4 or 5 are: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [ ]:
num = 1
result_list = []

while num <=100:
    cube = num**3
    if cube%4 == 0 or cube%5 == 0:
        result_list.append(num)
    num += 1
    
print('\nUsing While Loop:')
print('Numbers whose cubes are ')

In [ ]:
num = 1
result_list_while = []

# While loop to calculate cube and check divisibility
while num <= 100:
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        result_list_while.append(num)
    num += 1

# Print the result list
print("\nUsing While Loop:")
print("Numbers whose cubes are divisible by 4 or 5:", result_list_while)

In [ ]:
Q5

In [1]:
s = "I want to become a data scientist"
v = "aeiouAEIOU"
count = 0
for char in s:
    if char in v:
        count += 1
print(count)

12