In [ ]:
Q1

In [ ]:
1. For loop is used when number of iteration is known and while loop is used when number of iteration is unknown. 
Basically if we know number of times iteration has to inoccur to have the desired output "for" loop is used otherwise "while" should be used.
For example if we have a list of numbers we can find the multiplication of all the numbers within the list.
While can be used where output is required to find even numbers between 150 to 200

In [3]:
l = [1,2,2,3,4,5,4,6,7,4,5,6]
l1 = 1
for i in l:
    l1 = l1 * i
l1

4838400

In [13]:
n = 150
result = 0

while n <= 200:
    result = n + 2
    print(result)
    n += 1

152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202

In [ ]:
Q2

In [ ]:
using for loop

In [ ]:
s = 0
p = 1
for i in range(1,11):
    s += i
    p *= i
    
print(" The sum is: ",s)
print(" The product is: ",p)

In [ ]:
using while loop

In [ ]:
s = 1
i = 0

while i <= 10:
    s += i
    i += 1
print("The sum is: ",s)

In [ ]:
p = 1
i = 1

while i <= 10:
    p *= i
    i += 1
print("the product is: ",p)

In [ ]:
Q3

In [7]:
total_units = int(input("Enter the total number of unit consumed"))
                  
unit_price = [4.5, 6, 10, 20]
unit_count = [100, 100, 100, float('inf')]
              
bill = 0
i = 0
              
while total_units > 0:
    if total_units >= unit_count[i]:
       bill += unit_count[i]*unit_price[i]
       total_units -= unit_count[i]
    
    else:
        bill += total_units * unit_price[i]
        total_units = 0
              
    i += 1
              
print("The total electricity bill is: ", bill)

Enter the total number of unit consumed 889

The total electricity bill is:  13830.0

In [ ]:
Q4

In [ ]:
l = []

for i in range(0, 101):
    while True:
        cube = i**3
        if cube % 4 == 0 or cube % 5 == 0:
            l.append(i)
print(l)

In [ ]:
Q5

In [1]:
s = "I want to become a data scientist"
v = "aeiouAEIOU"
count = 0
for char in s:
    if char in v:
        count += 1
print(count)

12